.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-inline: 5rem;
  overflow-x: hidden;
  margin-block: 5rem;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.container > div {
  @media screen and (min-width: 768px) {
    width: 60rem;
  }
}

.container > div > p:nth-child(1) {
  font-size: 2rem;
  margin-block: 1.5rem;
  font-weight: 800;
}

.container > div > p:nth-child(2) {
  font-size: 1.5rem;
  margin-block: 1rem;
  text-align: left;
}
